
<div ng-controller="paymentCtrl">

<br><h2>Payment Summary To Kollox</h2><br><p>
    <a ui-sref=".create_paymentsummary_btn" type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Add payment</a><br>
    <div class="col-md-2 col-md-offset-0">
        <input type="text" class="form-control datepicker" placeholder="From">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control datepicker" placeholder="To">
    </div>
    <div class="col-md-1">
        <a class="btn btn-primary">go</a>
    </div>


    <div class="col-md-2 col-md-offset-7">
    <input class="form-control" type="text" ng-model="query" placeholder="search for payment">
</div> <br></p><br>


    <div class="col-md-10">
        <table class="table" style="width: 800px">
            <tr>
                <th><a ng-click="sortField='id'" href="">#</a></th>
                <th><a ng-click="sortField='business_name'" href="">Business Name</a></th>
                <th><a ng-click="sortField='payment_type_name'" href="">Payment_name</a></th>
                <th><a ng-click="sortField='amount'" href="">Amount<small>($)</small></a></th>
                <th><a ng-click="sortField='payment_recieved_at'" href="">Payment received at</a></th>



            </tr>
            <tr ng-repeat="payment in payments | filter:query | orderBy:sortField">
                <td>{{payment.id}}</td>
                <td>{{payment.business_name}}</td>
                <td>{{payment.payment_type_name}}</td>
                <td>{{payment.amount}}</td>
                <td>{{payment.payment_received_at}}</td>


                <td>
                    <a ui-sref=".view_paymentsummary({id:payment.id})" class="btn btn-default glyphicon glyphicon-eye-open"></a>
                    <a ui-sref=".update_paymentsummary_btn({id:payment.id})" class="btn btn-warning glyphicon glyphicon-pencil"></a>
                    <a  ng-click="del(payment)" class="btn btn-danger glyphicon glyphicon-remove" ></a>

                </td>

            </tr>
        </table>
    </div>

    <div ui-view="test_paymentsummary"></div>

</div>

<script>
    $(function() {
        $( ".datepicker" ).datepicker({dateFormat:'dd-mm-yy'});
    });
</script>