<body background="background.jpg">


<br><br><br><h1 class="col-md-offset-1" style="font-size: 90px">Business<br> Dashboard</h1>

        <form class="form-signin col-md-3 col-md-offset-8" role="form">
            <input style="padding: 25px 12px" type="text" class="form-control" placeholder="Username" autofocus=""><br>
            <input style="padding: 25px 12px" type="password" class="form-control" placeholder="Password">
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            <a ui-sref="home.sale" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</a>
        </form>
</body>

