


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">Update {{category.name}}</h2>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-active">
                    <tr>
                        <td><label>Id :</label></td><td><input type="text" ng-model="category.id"  value="{{category.id}}"></td></tr><tr>
                    <td><label>Name :</label></td><td><input type="text" ng-model="category.name"  value="{{category.name}}"></td></tr><tr>
                    <td><label>Business Id :</label></td><td><input type="text" ng-model="category.business_type_id"  value="{{category.business_type_id}}"></td></tr><tr>
                    <td><label>Business Name :</label></td><td><input type="text" ng-model="category.business_type_name"  value="{{category.business_type_name}}"></td></tr><tr>

                </table>
            </div>
            <div class="modal-footer">
                <a ui-sref="home.category.view_category({id:category.id})" type="button" class="btn btn-default" data-dismiss="modal">Save Changes</a>
                <a ui-sref="home.category" ng-click="del(category)" type="button" data-dismiss="modal" class="btn btn-danger glyphicon glyphicon-remove"></a>
            </div>
        </div>
    </div>
</div>